<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>Complete my task</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
