<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>Complete my task</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>



<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>Become a prime minister</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish finished'><i class='icon-check'></i></div>
	</div>
	<div class='middle'>
		<div>A really, really long task that has already been finished.</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
<div class='item'>
	<div class='side'>
		<div class='finish'><i class='icon-check-empty'></i></div>
	</div>
	<div class='middle'>
		<div>This is my post</div>
	</div>
	<div class='side'>
		<div class='cancel'><i class='icon-remove'></i></div>
	</div>
</div>
