/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

html, body{
  height: 100%;
  overflow: hidden;
}

body {
  display: -webkit-box;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  background: #222 !important;
}

body > div{
  box-flex: 40;
  -webkit-box-flex:40;
}

body > div:first-child, body div:last-child {
  -webkit-box-flex: 1;
}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


