.TopBar {
  background: #222;
  color: white;

	.nice.small {
		padding: 6px 0;
		width: 50px; 
		margin-left:10px;
	}

	.columns {
		padding-top: 6px!important; 
		padding-bottom: 6px!important; 
	}

	.logo { margin: 3px 0 0 0; }
	.phone-two { text-align: center; }
  label {color: black}

  .input-text { border-radius: 5px; font-weight: normal; }

  .checklabel { 
  	display: block;
		background: #DDD;
		padding: 6px;
		font-size: 12px;
		border-radius: 5px;
		margin: 20px 0 20px 0;
		border: solid 1px #999
  }
}
